<form
  class="form"
  [formGroup]="resetPasswordForm"
  (ngSubmit)="onSubmit()"
>

  <h3 class="form__title">Reset Password</h3>

  <app-input-field-group
    class="form__group"
    [control]="resetPasswordForm.get('password')"
    inputId="password"
    inputType="password"
    labelSize="large"
  >Password
  </app-input-field-group>

  <app-input-field-group
    class="form__group"
    [group]="resetPasswordForm"
    [control]="resetPasswordForm.get('passwordConfirmation')"
    inputId="password-confirm"
    inputType="password"
    labelSize="large"
  >Confirm Password
  </app-input-field-group>

  <app-rounded-corners-button
    class="form__btn"
    btnType="submit"
    [disabledIf]="!resetPasswordForm.valid"
  >Submit
  </app-rounded-corners-button>

  <div class="form__hint">
    <a class="form__hint--link" routerLink="/login">Back to Login</a>
  </div>
</form>
