@import "src/variables.scss";

.sidebar {
  background-color: $color-white;
  border-radius: 1rem;
  border: 1px solid $color-grey-light-3;
}

.side-nav {
  font-size: 2rem;
  font-weight: 400;
  list-style: none;
  width: 100%;

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;

    &--active > a {
      color: $color-white;
    }

    &--active {
      background-color: $color-primary;

      &:first-child {
        border-top-right-radius: 1rem;
        border-top-left-radius: 1rem;
      }

      &:last-child {
        border-bottom-right-radius: 1rem;
        border-bottom-left-radius: 1rem;
      }
    }

    &:not(:last-child) {
      border-bottom: 1px solid $color-grey-light-3;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 3px;
      background-color: $color-primary;
      transform: scaleY(0);
      transition: transform .2s, width .4s cubic-bezier(1, 0, 0, 1) .2s;
    }

    &:first-child:before {
      border-top-right-radius: 1rem;
      border-top-left-radius: 1rem;
    }

    &:last-child:before {
      border-bottom-right-radius: 1rem;
      border-bottom-left-radius: 1rem;
    }

    &:hover::before {
      transform: scaleY(1);
      width: 100%;
    }
  }

  &__link {
    color: $color-primary;
    text-decoration: none;
    text-transform: uppercase;
    padding: 2rem 6rem 2rem 2rem;
    letter-spacing: 0.1rem;
    line-height: 1.3;
    z-index: 10;
    display: flex;
    align-items: center;
    transition: color .4s cubic-bezier(1, 0, 0, 1) .2s;

    &--active {
      background-color: $color-primary;
      color: $color-white;

    }

    &:hover {
      color: $color-white;
    }
  }

  &__icon {
    height: 2.75rem;
    width: 2.75rem;
    margin-right: 1.5rem;
    fill: currentColor;
  }
}

