<form
  class="form"
  [formGroup]="forgotPasswordForm"
  (ngSubmit)="onSubmit()"
>
  <ng-container *ngIf="!passwordResetEmailSent">
    <h3 class="form__title">Forgot Password</h3>

    <p class="form__hint">
      Enter your email address and we'll send you a link to reset your password.
    </p>

    <app-input-field-group
      [control]="forgotPasswordForm.get('email')"
      [showValidationErrors]="false"
      inputId="email"
      inputType="email"
      inputPlaceholder="you@example.com"
    >
    </app-input-field-group>

    <app-rounded-corners-button
      class="form__btn"
      btnType="submit"
    >
      Send
    </app-rounded-corners-button>
  </ng-container>

  <ng-container *ngIf="passwordResetEmailSent">
    <h3 class="form__title">Password Reset Email sent</h3>

    <p class="form__hint">
      An email has been sent to your email address.
      Follow the instructions in the email to reset your password.
    </p>

    <app-button-link
      class="form__btn-text"
      link="/login"
      fontSize="1.7rem"
    >
      Back to Login &rarr;
    </app-button-link>
  </ng-container>
</form>


