<form
  [formGroup]="updateUserPasswordForm"
  class="change-password__form"
  (ngSubmit)="onSubmit()"
>
  <h3 class="change-password__title">Password Change</h3>
  <app-input-field-group
    inputId="current-password"
    inputPlaceholder="••••••••"
    inputType="password"
    [control]="updateUserPasswordForm.get('currentPassword')"
  >
    Current Password
  </app-input-field-group>

  <app-input-field-group
    inputId="new-password"
    inputPlaceholder="••••••••"
    inputType="password"
    [control]="updateUserPasswordForm.get('password')"
  >
    New Password
  </app-input-field-group>

  <app-input-field-group
    inputId="confirm-password"
    inputPlaceholder="••••••••"
    inputType="password"
    [control]="updateUserPasswordForm.get('passwordConfirmation')"
    [group]="updateUserPasswordForm"
  >
    Confirm Password
  </app-input-field-group>

  <app-rounded-corners-button
    class="change-password__button"
    [disabledIf]="!updateUserPasswordForm.valid"
    btnType="submit"
  >
    Save Password
  </app-rounded-corners-button>
</form>
