@import "src/variables";

.ng-select.custom {
  position: relative;
  font-weight: 400;
  font-size: 1.5rem;
  font-family: inherit;
  border: none;
  color: $color-grey-dark;
  padding: 1.18rem 2rem;
  border-radius: 2px;
  border-bottom: 3px solid transparent;
  background-color: $color-grey-light-2;
  cursor: pointer;
}

.ng-select.custom.ng-select-opened {
  border-bottom: 3px solid $color-primary;
}

.ng-select.custom .ng-input {
  cursor: pointer;
}

.ng-select.custom .ng-value-label {
  display: flex;
  align-items: center;
}

.ng-select.custom .ng-dropdown-panel {
  background-color: $color-white;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom: 1px solid $color-grey-light-3;
  border-right: 1px solid $color-grey-light-3;
  border-left: 1px solid $color-grey-light-3;
}

.ng-select.custom .ng-option {
  padding: 1.18rem 2rem;
  border-bottom: 1px solid $color-grey-light-3;
}


.ng-select.custom .ng-option-label {
  display: flex;
  align-items: center;
}

.ng-select.custom .ng-option-marked {
  background-color: rgba($color-grey-light-2, 0.9)
}

.ng-select.custom .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected {
  background-color: rgba($color-grey-light-2, 0.9)
}

.ng-select.custom .ng-arrow-wrapper {
  margin-right: 0.5rem;
  margin-top: -0.25rem;
  width: 16px;
  height: 26px;
  transition: transform 0.3s;
  z-index: 100;
}

.ng-select.custom .ng-arrow-wrapper .ng-arrow {
  border-style: solid;
  border-width: 0.2rem 0.2rem 0 0;
  height: 10px !important;
  width: 10px !important;
  transform: rotate(135deg);
  color: $color-grey-dark;
  z-index: 100;
}

.ng-select.custom.ng-select-opened > .ng-select-container .ng-arrow-wrapper {
  transform: rotate(180deg);
  opacity: 1;
  z-index: 100;
}

.ng-select.custom.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
  display: flex;
  padding: 0.2rem 1.5rem;
  margin-bottom: 0.1rem;
  border-radius: 3px;
  background-color: $color-grey-light-3;

  &:not(:first-child) {
    margin-right: 1.5rem;
  }
}

.ng-select.custom.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-icon {
  margin-right: 0.5rem;
}
