@import "src/variables";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 1rem = 10px
}

body {
  display: grid;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  min-height: 100vh;
}

::selection {
  background: rgba($color-primary, 0.6);
}

::-moz-selection {
  background: rgba($color-primary, 0.6);
}




